.store{
    padding: 6rem 0;
}

.store__container{
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-areas:
    'item1 item2 item2'
    'item3 item4 item5'
    'item3 item6 item7';
}

.store__card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    border: 1px solid black;
    max-height: 15rem;
    cursor: pointer;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@for $item from 1 through 7 {
    .item#{$item}{
        grid-area: item#{$item};
    }
}

.item3{
    max-height: none;
}

.card__text{
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
}